
<div class="row row-cols-1 row-cols-md-2 g-4">

  <!-- GitHub -->
  <div class="col">
    <div class="card h-100">
      <div class="card-body d-flex flex-column">

        <h4 class="card-title"><%= inline_svg_tag "github.svg", class: "ContactLogo"%> My Github</h4> 
        <p class="card-text">Click the button below to visit my GitHub. I have more examples of Ruby on Rails that include the use of the Devise gem and CRUD. There are also examples of SQL Databases that include Views, Queries, Security and Roles.</p>
        <a href="#" class="btn btn-primary mt-auto me-md-2" type="button" role="button">My Github</a>

      </div>
    </div>
  </div>

  <!-- Linkedin -->
  <div class="col">
    <div class="card h-100">
      <div class="card-body d-flex flex-column">

        <h4 class="card-title"><%= inline_svg_tag "linkedin.svg", class: "ContactLogo"%> My LinkedIn </h4>
        <p class="card-text">Check out my LinkedIn. I’m currently looking for work and would love to hear from you about any opportunities.</p>
        <a href="#" class="btn btn-primary mt-auto me-md-2" type="button" role="button">My LinkedIn</a>

      </div>
    </div>
  </div>

  <!-- content -->
  <div class="col">
    <div class="card h-100">
      <div class="card-body">

        <h4 class="card-title"><%= inline_svg_tag "briefcase-fill.svg", class: "ContactLogo"%> Looking For Work</h4>
        <p class="card-text">I’m currently looking for work and would love to hear from you about any opportunities. If you need any examples of what i have done checkout my GitHub.</p>

      </div>
    </div>
  </div>

  <!-- My Email -->
  <div class="col">
    <div class="card h-100">
      <div class="card-body">

        <h4 class="card-title"><%= inline_svg_tag "mailbox2.svg", class: "MailLogo"%> My Email </h4>
        <p class="card-text">- glgclaridge@gmail.com</p>

      </div>
    </div>
  </div>

</div>

<!-- GitHub -->
<div class="d-flex justify-content-center">
  <div class="card w-100">
    <h5 class="card-header">My Github Repositories</h5>
    <div class="card-body">

      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Ruby On Rails Devise and Form</div>
            <a href="https://github.com/GeorgeClaridge/RubyOnRailsFriendsApp" class="link-primary">Click Here To View</a>
          </div>
          <span class="badge"><%= inline_svg_tag "gem.svg", class: "NoteLogo" %></span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">SQL Hotel Example</div>
            <a href="https://github.com/GeorgeClaridge/Hotel-SQL" class="link-primary">Click Here To View</a>
          </div>
          <span class="badge"><%= inline_svg_tag "filetype-sql.svg", class: "NoteLogo" %></span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">SQL ContactCare Example</div>
            <a href="https://github.com/GeorgeClaridge/HealthTech-Sql" class="link-primary">Click Here To View</a>
          </div>
          <span class="badge"><%= inline_svg_tag "filetype-sql.svg", class: "NoteLogo" %></span>
        </li>

      </ol>

      </br>

      <a href="https://github.com/GeorgeClaridge?tab=repositories" class="btn btn-primary me-md-2" type="button" role="button">All Repositories</a>
    </div>
  </div>
</div>

</br>